body {

    display: flex;
    align-items: center;
    flex-direction: column;
}

#todo-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

button:hover {
    background-color: green;
}